---
---

<header class="w-full px-8 pt-10 flex justify-between items-center">
  <a href="/" class="text-xl text-stone-900 font-serif font-bold tracking-tight hover:text-orange-900 transition-colors">
    Hyoseo
  </a>
  
  <nav class="flex gap-8 text-stone-400 font-sans font-bold text-[10px] uppercase tracking-[0.2em]">
    {[
      { name: 'About', href: '/about' },
      { name: 'Thinking', href: '/thinking' },
      { name: 'Projects', href: '/projects' }
    ].map((item) => (
      <a 
        href={item.href} 
        class="hover:text-stone-900 transition-colors"
      >
        {item.name}
      </a>
    ))}
  </nav>
</header>